@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Temperature Monitor WebAPI Client</h1>
    <p class="lead">This is a proof-of-concept example of a business temperature collection system.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Further Information</h2>
        <p>
            This is a simplified example of a WebAPI client that might be ran on an external DMZ environment, providing a secure interface where trusted people on the WWW can authenticate and modify data.
            In a more advanced example you may find that the WebAPI Server requires user authentication in order to verify the person modifying data inside the database.<br />
        </p>
    </div>
</div>