@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Temperature WebAPI Server</h1>
    <p class="lead">This is a proof-of-concept example of a business temperature collection system.</p>
    <p>This includes a web interface to manage data and a WebAPI.</p>
</div>
